.header-component {
  display: flex;
  background-color: #292249;
  height: 55px;
  width: 100%;
  justify-content: space-around;
  position: fixed;

  .image-header {
    width: 100px;
    height: 50px;
  }

  .body-menu {
    width: 33vw;
  }

  .open-menu {
    display: none;
  }


  .menu {
    display: flex !important;
    justify-content: space-around;
    list-style-type: none;
    color: white;
  }
}


.side-menu {
  width: 590px;
  height: 990px;
  background: #E6E6E6;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.review {
  display: flex;

  .image {
    width: 100%;
  }

  .content-box-about {
    width: 100%;
  }

  .box-about-league {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
    justify-content: flex-end;

    .category {
      color: #F17300;
      font-size: 25px;
    }

    .tittle-about-league {
      font-size: 34px;
      color: #F17300
    }

    .date {
      color: #8C8B8B;
    }

  }


}

.review-posts {
  width: 215px;
  margin: auto;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.title-post {
  color: #F17300;
  font-size: 27px;
  margin: 17px;
  display: block;
}

.date {
  color: #8C8B8B;
  padding: 15px 0 25px 0;
}

.description-about-legends {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 180px;
  margin: auto;
  border-bottom: 1px solid #ECECEC;
}


.footer {
  .background-footer {
    background-image: url("../../../../assets/background_footer.png");
    width: 100%;
    height: 738px;

    .body-image {
      height: 48%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .footer-join-icon {
        display: flex;
        flex-direction: column;
        width: 230px;

        .icons {
          display: flex;
          justify-content: center;
          padding-top: 20px;
        }
      }
    }

    .image-header {
      width: 100px;
      height: 50px;
    }
  }

  .footer-description {
    display: flex;
    color: white;
    justify-content: space-between;
    width: 80%;
    margin: auto
  }

  .body-footer-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  .footer-title-description {
    font-size: 15px;
  }

  .text-footer {
    text-align: center;
    padding-top: 13px;
    font-size: 10px;
  }


}

.review-categories {
  border: 1px solid silver;
  width: 215px;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  ul {
    font-size: 20px;
    color: #666666;
    line-height: 40px;
  }
}

.categories {
  color: #F17300;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 20px;

}

.text-follow {
  font-size: 30px;
  color: #F17300;
  display: flex;
  justify-content: center;
}

.follow-us {
  border: 1px solid silver;
  background-color: white;
  height: 210px;
  width: 215px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.twitter {
  background-image: url("../../../../assets/twitter.png");
  height: 42px;
  width: 43px;
  background-color: #201E41;
  border-radius: 20px
}

.facebook {
  background-image: url("../../../../assets/facebook.png");
  height: 42px;
  width: 43px;
  background-color: #201E41;
  border-radius: 20px
}

.discord {
  background-image: url("../../../../assets/discord.png");
  height: 42px;
  width: 43px;
  background-color: #201E41;
  border-radius: 20px
}

@media screen and (max-width: 620px) {
  .menu {
    display: none !important;
  }
  .open-menu {
    height: 100%;
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
  }
  .review {
    font-size: 20px;
  }
}



