<header>
  <div class="header-component">

    <div class="body-image-tittle"><img class="image-header" src="../../../../assets/logo_navigation.png" alt="">
      <button routerLink="/recentPosts" style="height: 20px;background-color: orange;    position: absolute;
    left: 10px;">second page
      </button>
    </div>
    <div class="body-menu">
      <div class="open-menu"><img src="../../../../assets/baseline_menu_black_18dp.png" alt=""></div>
      <ul class="menu">
        <li>GUIDES</li>
        <LI>COACHING</LI>
        <li>BLOG</li>
        <li>MY ACCOUNT</li>
      </ul>
    </div>
  </div>
</header>
<main>
  <div class="background">
    <div class="tittle">ABOUT OUR BLOG LOREM IPSUM DOLOR SIT AMET,<br>
      CONSECTETUER ADIPISCING ELIT, SED DIAM NONUMMY NIBH <br>
      EUISMOD TINCIDUNT UT LAOREET DOLORE MAGNA ALIQUAM <br>
      ERAT
    </div>
    <div class="boxes-content">
      <div class="blog-post">
        <img class="img-blog" src="../../../../assets/Layer%203.png" alt="">
        <div class="text-blog">
      <span>Most popular <br>
        blog post title
      </span></div>
      </div>
      <div class="blog-post">
        <img class="img-blog" src="../../../../assets/Layer%203.png" alt="">
        <div class="text-blog">
      <span>Most popular <br>
        blog post title
      </span></div>
      </div>
      <div class="blog-post">
        <img class="img-blog" src="../../../../assets/Layer%203.png" alt="">
        <div class="text-blog">
      <span>Most popular <br>
        blog post title
      </span></div>
      </div>
      <div class="blog-post">
        <img class="img-blog" src="../../../../assets/Layer%203.png" alt="">
        <div class="text-blog">
      <span>Most popular <br>
        blog post title
      </span></div>
      </div>
      <div class="blog-post">
        <img class="img-blog" src="../../../../assets/Layer%203.png" alt="">
        <div class="text-blog">
      <span>Most popular <br>
        blog post title
      </span></div>
      </div>
      <div class="blog-post">
        <img class="img-blog" src="../../../../assets/Layer%203.png" alt="">
        <div class="text-blog">
      <span>Most popular <br>
        blog post title
      </span></div>
      </div>
    </div>
  </div>
  <section class="recent-Posts">
    <div class="title"><b>Recent Posts</b></div>
    <div class="array-blog">
      <div class="body-blog">
        <b class="blog-title">Blog post - title</b><br>
        <span class="date">10/07/2020</span>
        <div class="description-blog-title">
          Lorem ipsum dolor sit amet, <br>
          consectetuer adipiscing elit, sed <br>
          diam nonummy nibh euismod <br>
          tincidunt ut laoreet dolore magna <br>
          aliquam erat volutpat. Ut wisi enim ad
        </div>
        <span class="read-more">Read more</span>
      </div>
      <div class="body-blog">
        <b class="blog-title">Blog post - title</b><br>
        <span class="date">10/07/2020</span>
        <div class="description-blog-title">
          Lorem ipsum dolor sit amet, <br>
          consectetuer adipiscing elit, sed <br>
          diam nonummy nibh euismod <br>
          tincidunt ut laoreet dolore magna <br>
          aliquam erat volutpat. Ut wisi enim ad
        </div>
        <span class="read-more">Read more</span>
      </div>
      <div class="body-blog">
        <b class="blog-title">Blog post - title</b><br>
        <span class="date">10/07/2020</span>
        <div class="description-blog-title">
          Lorem ipsum dolor sit amet, <br>
          consectetuer adipiscing elit, sed <br>
          diam nonummy nibh euismod <br>
          tincidunt ut laoreet dolore magna <br>
          aliquam erat volutpat. Ut wisi enim ad
        </div>
        <span class="read-more">Read more</span>
      </div>
      <div class="body-blog">
        <b class="blog-title">Blog post - title</b><br>
        <span class="date">10/07/2020</span>
        <div class="description-blog-title">
          Lorem ipsum dolor sit amet, <br>
          consectetuer adipiscing elit, sed <br>
          diam nonummy nibh euismod <br>
          tincidunt ut laoreet dolore magna <br>
          aliquam erat volutpat. Ut wisi enim ad
        </div>
        <span class="read-more">Read more</span>
      </div>
    </div>
  </section>
  <section class="about-blog">
    <div class="content-blog">
      <input class="search-input" type="text">
      <div class="body-about-blog">
        <b class="description-about-blog"> About blog or quote Lorem ipsum dolor sit <br>
          amet, consectetuer adipiscing elit, sed diam <br>
          nonummy nibh euismod tincidunt</b>
      </div>
    </div>
    <div class="select-categories">
      <span class="categories-title">Categories</span>
      <ul>
        <li>Educational</li>
        <li>Educational</li>
        <li>Educational</li>
      </ul>
    </div>
  </section>
  <section class="about-League">
    <div class="content-box-about">
      <div class="box-about-league">
        <b class="category">CATEGORY</b>
        <b class="tittle-about-league">What Is League of Legends Coaching?</b>
        <span class="date">20/07/2020</span>
        <span style="margin-top: 20px">We’ll keep this section short, as you might already know what coaching is. If you do, then feel free to skip it. <br>
      Okay, now, for those of you who are sthere, League of Legends coaching is defined as:
          </span>
        <span style="margin-top: 20px">“Receiving assistance from a player of a higher skill level with the purpose of improving your own ability.”</span>
        <span style="margin-top: 20px">This assistance can come in a couple of forms, but the standard coaching involves going over replays together. You join a <br>
        voice call with your coach, and then you sit down and watch a game you’ve played recently. This replay is usually a <br>
        defeat, even if watching a defeat doesn’t make you feel as cool, as there’s more knowledge to be gained from a defeat.</span>
        <div style="display: flex;justify-content: center">
          <button class="View-post" style="margin-top: 20px" (click)="ViewPost()">View post</button>
        </div>
      </div>
    </div>

    <div class="content-box-about">
      <div class="box-about-league">
        <b class="category">CATEGORY</b>
        <b class="tittle-about-league">What Is League of Legends Coaching?</b>
        <span class="date">20/07/2020</span>
        <span style="margin-top: 20px">We’ll keep this section short, as you might already know what coaching is. If you do, then feel free to skip it. <br>
      Okay, now, for those of you who are sthere, League of Legends coaching is defined as:
          </span>
        <span style="margin-top: 20px">“Receiving assistance from a player of a higher skill level with the purpose of improving your own ability.”</span>
        <span style="margin-top: 20px">This assistance can come in a couple of forms, but the standard coaching involves going over replays together. You join a <br>
        voice call with your coach, and then you sit down and watch a game you’ve played recently. This replay is usually a <br>
        defeat, even if watching a defeat doesn’t make you feel as cool, as there’s more knowledge to be gained from a defeat.</span>
        <div style="display: flex;justify-content: center">
          <button class="View-post" style="margin-top: 20px" (click)="ViewPost()">View post</button>
        </div>
      </div>
    </div>

    <div class="content-box-about">
      <div class="box-about-league">
        <b class="category">CATEGORY</b>
        <b class="tittle-about-league">What Is League of Legends Coaching?</b>
        <span class="date">20/07/2020</span>
        <span style="margin-top: 20px">We’ll keep this section short, as you might already know what coaching is. If you do, then feel free to skip it. <br>
      Okay, now, for those of you who are sthere, League of Legends coaching is defined as:
          </span>
        <span style="margin-top: 20px">“Receiving assistance from a player of a higher skill level with the purpose of improving your own ability.”</span>
        <span style="margin-top: 20px">This assistance can come in a couple of forms, but the standard coaching involves going over replays together. You join a <br>
        voice call with your coach, and then you sit down and watch a game you’ve played recently. This replay is usually a <br>
        defeat, even if watching a defeat doesn’t make you feel as cool, as there’s more knowledge to be gained from a defeat.</span>
        <div style="display: flex;justify-content: center">
          <button class="View-post" style="margin-top: 20px" (click)="ViewPost()">View post</button>
        </div>
      </div>
    </div>

    <div class="content-box-about">
      <div class="box-about-league">
        <b class="category">CATEGORY</b>
        <b class="tittle-about-league">What Is League of Legends Coaching?</b>
        <span class="date">20/07/2020</span>
        <span style="margin-top: 20px">We’ll keep this section short, as you might already know what coaching is. If you do, then feel free to skip it. <br>
      Okay, now, for those of you who are sthere, League of Legends coaching is defined as:
          </span>
        <span style="margin-top: 20px">“Receiving assistance from a player of a higher skill level with the purpose of improving your own ability.”</span>
        <span style="margin-top: 20px">This assistance can come in a couple of forms, but the standard coaching involves going over replays together. You join a <br>
        voice call with your coach, and then you sit down and watch a game you’ve played recently. This replay is usually a <br>
        defeat, even if watching a defeat doesn’t make you feel as cool, as there’s more knowledge to be gained from a defeat.</span>
        <div style="display: flex;justify-content: center">
          <button class="View-post" style="margin-top: 20px" (click)="ViewPost()">View post</button>
        </div>
      </div>
    </div>
  </section>
  <section class="footer">
    <div class="background-footer">
      <div class="body-image">
        <div class="footer-join-icon">
          <div style="display: flex;justify-content: center"><img class="image-header"
                                                                  src="../../../../assets/logo_navigation.png" alt="">
          </div>
          <div class="icons">
            <img src="../../../../assets/twitter.png" alt="">
            <img src="../../../../assets/facebook.png" alt="">
            <img src="../../../../assets/discord.png" alt="">
          </div>
        </div>
      </div>
      <div class="footer-description">
        <ul>
          <li>About us</li>
          <li>Blog</li>
          <li>Contact</li>
          <li>FAQ</li>
          <li>Partnerships</li>
        </ul>
        <ul>
          <li>Press & News</li>
          <li>Privacy Policy</li>
          <li>Terms & Conditions</li>
        </ul>
      </div>
      <div class="body-footer-description"><span
        class="footer-title-description">ProWorthy @ 2020 | All Rights Reserved</span>
        <span class="text-footer">League of Legends is trademark or registered trademark of Riot Games <br>
Any other marks are trademarks and/or registered trademarks of their respective owners. <br>
No endorsement is express or implied.</span></div>

    </div>
  </section>
</main>
